.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.spacer {
  height: 50px;
  background: blueviolet;
  position: sticky;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.user_app {
  position: relative;
  top: 200px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  padding: 10px;
}
.user_app_back {
  position: relative;
  top: 0px;
  /* animation-name: exampledown; */
  padding: 10px;

  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  padding: 0 !important;
}

@keyframes example {
  from {
    top: 200px;
    left: 0px;
  }
  to {
    top: 20px;
    left: 0px;
  }
  to {
    top: 20px;
    left: 0px;
  }

  to {
    top: 20px;
    left: -30px;
  }
}
@keyframes exampledown {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}
.user_application {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .user_application {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .loan_app_head {
    text-align: center;
    font-size: 4rem !important;
    padding: 10px;
  }
  @keyframes example {
    from {
      top: 200px;
      left: 0px;
    }
    to {
      top: 20px;
      left: 0px;
    }
    to {
      top: 20px;
      left: 0px;
    }
  }
}

.application_app {
  margin-top: 20px;
}
